<%- include('header', {currentMenu: 'bin-details-view', pageTitle: 'Bin Dteails'}); %>
    <div class="row m-0 mt-1">
		<div class="col-12" style="padding:0 200px;text-align: center;">
			<%- include('resources/bin-details.svg') %>
		</div>
    </div>
</div>
<%- include('footer', {currentMenu: 'bin-details-view'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/nav.js"></script>
<script src="js/jquery.newsTicker.js"></script>

<script>
    jQuery(document).ready(function() {
        jQuery("#ip_list_dropdown").change(function() {
            selected_machine = jQuery(this).val();
            if(selected_machine !== "") {
                let selected_machine_name = machine_list[selected_machine];
                jQuery("#display_machine_name").text(selected_machine_name);
            }
            else {
                jQuery("#display_machine_name").text("Select a machine");
                selected_machine = 0;
            }
        });
    });
    ipcRenderer.on("render:binDetails", function(e, binInfo,binInputs) {
        //console.log(binInfo)
        //console.log(binInputs)
        for(let input_key in binInputs){
            $('.binDetails[gui-input-id='+binInputs[input_key].gui_input_id+']')
                .attr('title',binInputs[input_key].description+'<br>'+binInputs[input_key].electrical_name)
                .attr('input-id',binInputs[input_key].input_id)
        }
        $('[data-toggle="tooltip"]').tooltip();
        setInterval(() => {
            ipcRenderer.send("getBinInputsState", selected_machine,binInfo['sort_manager_id']);
        }, 1000);
    });
    ipcRenderer.on("getBinInputsState", function(e, data) {
        let binInputsStates=data['binInputsStates'];
        for(let input_id in binInputsStates){
            console.log(input_id,binInputsStates)
            $('.binDetails[input-id='+input_id+'] .input_state').css('fill',(binInputsStates[input_id]['active_state']==binInputsStates[input_id]['input_state'])?'#27e22b':'#f00');
        }
    });
</script>
</body>
</html>