<%- include('header', {currentMenu: 'bin-details-view', pageTitle: 'Bin Dteails'}); %>
    <div class="row m-0 mt-1">
		<div class="col-12" style="padding:0 200px;text-align: center;">
			<%- include('resources/bin-details.svg') %>
		</div>
    </div>
</div>
<%- include('footer', {currentMenu: 'bin-details-view'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/nav.js"></script>
<script src="js/jquery.newsTicker.js"></script>

<script>
    jQuery(document).ready(function() {
        jQuery("#ip_list_dropdown").change(function() {
            selected_machine = jQuery(this).val();
            if(selected_machine !== "") {
                let selected_machine_name = machine_list[selected_machine];
                jQuery("#display_machine_name").text(selected_machine_name);
            }
            else {
                jQuery("#display_machine_name").text("Select a machine");
                selected_machine = 0;
            }
            //ipcRenderer.send("get:views", selected_machine, "general_view");
        });
    });
ipcRenderer.on("binDetails", function(e, data) {
    //console.log(data)
    console.log("i am here");
});
</script>
</body>
</html>