<footer class="text-left">
    <% if (['general-view','general-view-devices','general-view-motors'].includes(currentMenu)) { %>
        <div class="main-area flex-grow-1">
            <a class="btn btn-outline-primary btn-footer <%= currentMenu === 'general-view' ? 'active' : '' %>" href="#" data-link="general-view">Conveyors</a>
            <a class="btn btn-outline-primary btn-footer <%= currentMenu === 'general-view-devices' ? 'active' : '' %>" href="#" data-link="general-view-devices">Devices</a>
            <a class="btn btn-outline-primary btn-footer <%= currentMenu === 'general-view-motors' ? 'active' : '' %>" href="#" data-link="general-view-motors">Motor</a>

        </div>
    <% } %>
</footer>