<%- include('header', {currentMenu: 'general-view-bin-details', pageTitle: 'Bin Dteails'}); %>
    <div class="row m-0 mt-1">
		<div class="col-12 position-relative" style="padding:0 250px;text-align: center;">
			<%- include('resources/bin-details.svg') %>
            <div id="container-button-bin-manual" class="position-absolute" style="right: 600px;top:235px;z-index: 1;display: none;">
                <button class="button-bin-command button-device-command button-3d button-round button-bin-manual d-block mb-4" data-device-id="0" data-command="1" data-parameter1="0">Manual</button>
            </div>
            <div id="container-button-bin-auto" class="position-absolute" style="right: 600px;top:235px;z-index: 1;display: none;">
                <button class="button-bin-command button-device-command button-3d button-round button-bin-auto d-block mb-4"  data-device-id="0" data-command="2" data-parameter1="0">Auto</button>
            </div>
            <div id="container-button-bin-jog-raise" class="position-absolute" style="right: 100px;top:310px;z-index: 1;display: none;">
                <button class="button-bin-command button-device-command-press-release button-3d button-rectangle button-bin-jog-raise d-block mb-4" data-device-id="0" data-command-start="3" data-command-end="4" data-parameter1="0">Jog Raise</button>
            </div>
            <div id="container-button-bin-jog-lower" class="position-absolute" style="right: 100px;top:470px;z-index: 1;display: none;">
                <button class="button-bin-command button-device-command-press-release button-3d button-rectangle button-bin-jog-lower d-block mb-4" data-device-id="0" data-command-start="3" data-command-end="4" data-parameter1="0">Jog Lower</button>
            </div>
            <div id="container-button-bin-jog-lower" class="position-absolute" style="right: 570px;top:575px;z-index: 1;">
                <button class="button-bin-command button-device-command button-3d button-rectangle button-bin-fault-reset d-block mb-4" data-device-id="0" data-command="0" data-parameter1="0">Fault Reset</button>
            </div>
		</div>
    </div>
</div>
<%- include('footer', {currentMenu: 'general-view-bin-details'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/nav.js"></script>

<script>
    jQuery(document).ready(function() {
        jQuery("#ip_list_dropdown").change(function() {
            selected_machine = jQuery(this).val();
            if(selected_machine !== "") {
                let selected_machine_name = machine_list[selected_machine];
                jQuery("#display_machine_name").text(selected_machine_name);
            }
            else {
                jQuery("#display_machine_name").text("Select a machine");
                selected_machine = 0;
            }
        });
        $('.button-device-command-press-release').on('mousedown',function (){
            let device_id=$(this).attr('data-device-id');
            let command_start=$(this).attr('data-command-start');
            let command_end=$(this).attr('data-command-end');
            let parameter1=$(this).attr('data-parameter1');
            ipcRenderer.send("sendDeviceCommand", selected_machine,device_id,command_start,parameter1);
            $(document).one('mouseup',function (){
                ipcRenderer.send("sendDeviceCommand", selected_machine,device_id,command_end,parameter1);
            })
        })

    });
    let currentBinInfo={};
    let currentBinInputs={};
    ipcRenderer.on("render:general-view-bin-details", function(e, binInfo,binInputs) {
        currentBinInfo=binInfo;
        currentBinInputs=binInputs;
        //console.log(binInfo)
        //console.log(binInputs)
        $("#bin_label").text(binInfo['bin_label'])
        for(let input_key in binInputs){
            $('.binDetails[gui-input-id='+binInputs[input_key].gui_input_id+']')
                .attr('title',binInputs[input_key].description+'<br>'+binInputs[input_key].electrical_name)
                .attr('input-id',binInputs[input_key].input_id)
        }
        $('.button-bin-command').attr('data-device-id',(201+(binInfo['bin_id']-1)))
        $('[data-toggle="tooltip"]').tooltip();
        setInterval(() => {
            ipcRenderer.send("getGeneralBinDetailsViewData", selected_machine,binInfo['sort_manager_id']);
        }, 1000);
    });

    ipcRenderer.on("getGeneralBinDetailsViewData", function(e, data) {
        let machineId=data['machineId'];
        let inputsStates=data['inputsStates'];
        let sort_manager_id=data['sort_manager_id'];
        for(let key in currentBinInputs){
            let currentBinInput=currentBinInputs[key];
            let currentInputState=inputsStates[key];
            let active_color=$('.binDetails[input-id='+currentBinInput["input_id"]+']').attr('active-color');
            let inactive_color=$('.binDetails[input-id='+currentBinInput["input_id"]+']').attr('inactive-color');
            $('.binDetails[input-id='+currentBinInput["input_id"]+'] .input_state').css('fill',(currentBinInput['active_state']==currentInputState['input_state'])?active_color:inactive_color);
            if(currentBinInput['gui_input_id']=='110'){
                if(currentBinInput['active_state']==currentInputState['input_state']){
                    $('#container-button-bin-auto').show();
                    $('#container-button-bin-manual').hide();
                    $('#container-button-bin-jog-raise').show();
                    $('#container-button-bin-jog-lower').show();
                }
                else{
                    $('#container-button-bin-auto').hide();
                    $('#container-button-bin-manual').show();
                    $('#container-button-bin-jog-raise').hide();
                    $('#container-button-bin-jog-lower').hide();
                }
            }
        }
    });
</script>
</body>
</html>