<%- include('header', {currentMenu: 'maint-sort', pageTitle: 'Sort'}); %>

<div class="row mt-3">
    <button id="btn-sort" class="button-device-command-press-release button-3d button-rectangle"
            style="font-size: 14px;background-color: darkgray;" data-device-id="82"
            data-command-start="0" data-command-end="1" data-parameter1="0">Enable Sort</button>
</div>
</div>

<%- include('footer', {currentMenu: 'maint-sort'}); %>

<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/datatables/datatables.js"></script>
<script src="js/nav.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery("#ip_list_dropdown").change(function () {
            selected_machine = jQuery(this).val();
            if (selected_machine !== "") {
                let selected_machine_name = machine_list[selected_machine];
                jQuery("#display_machine_name").text(selected_machine_name);
            } else {
                jQuery("#display_machine_name").text("Select a machine");
                selected_machine = 0;
            }
            ipcRenderer.send("get:views", selected_machine, "maint-sort");
        });
    });

    ipcRenderer.on("render:maint-devices", function (e, data) {
        ipcRenderer.send("sendRequest", selected_machine,'getIoOutputStates', {});
        setInterval(() => {
            ipcRenderer.send("sendRequest", selected_machine,'getIoOutputStates', {});
        }, 1000);
    })
    ipcRenderer.on("getIoOutputStates", function(e, data) {
        let ioOutputStates = data['ioOutputStates'];
        if(ioOutputStates[selected_machine+"_52"] && ioOutputStates[selected_machine+"_52"]['state']==1){
            $("#btn-sort").attr('data-started',1).text('Disable Sort');
        } else if(ioOutputStates[selected_machine+"_52"] && ioOutputStates[selected_machine+"_52"]['state']==0){
            $('#btn-sort').text('Enable Sort');
        }

    })
</script>