<%- include('header', {currentMenu: '', pageTitle: 'Settings'}); %>
<div class="row m-0 mt-2">
    <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
        <form id="settings-form">
            <fieldset>
                <legend id="the_legend">Settings</legend>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="ip_address_input">Java Server IP Address</label>
                            <input type="text" class="form-control" id="ip_address_input" name="ip_address_input" aria-describedby="ipAddressHelp" placeholder="Enter IP Address">
                            <small id="ipAddressHelp" class="form-text text-muted">Java server IP address</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="port_input">Java Server Port</label>
                            <input type="text" class="form-control" id="port_input" name="port_input" aria-describedby="portHelp" placeholder="Enter Port">
                            <small id="portHelp" class="form-text text-muted">Java server port number</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="cm_ip_address_input">CM IP Address</label>
                            <input type="text" class="form-control" id="cm_ip_address_input" name="cm_ip_address_input" aria-describedby="cmIpAddressHelp" placeholder="Enter CM IP Address">
                            <small id="cmIpAddressHelp" class="form-text text-muted">CM IP Address</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="diagonstic_url">Diagonstic URL</label>
                    <input type="text" class="form-control" id="diagonstic_url" name="diagonstic_url" aria-describedby="diagonsticURLHelp" placeholder="Diagonstic URL">
                    <small id="diagonsticURLHelp" class="form-text text-muted">Diagonstic URL</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="detailed_active_alarm" name="detailed_active_alarm" value="active">
                    <label class="form-check-label" for="detailed_active_alarm">Detailed Active Alarm</label>
                </div>
                <button type="button" style="visibility: hidden;" id="button_save" class="btn btn-primary">Save</button>
                <button type="button" style="display: none;" id="button_login" class="btn btn-primary">Login</button>
                <button type="button" style="display: none;" id="button_logout" class="btn btn-primary">Logout</button>
                <button type="button" style="display: none;" id="button_changePassword" class="btn btn-primary">Change Password</button>
                <span id="mode_buttons_container" style="display: none">
                    <button type="button" style="display: none;" id="button_manual_mode_active" class="btn btn-primary">Activate manual mode</button>
                    <button type="button" style="display: none;" id="button_manual_mode_deactive" class="btn btn-primary">Deactivate manual mode</button>
                </span>
            </fieldset>
        </form>
    </div>
</div>
</div>
<%- include('footer', {currentMenu: 'settings'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/nav.js"></script>
<script>
    async function setSettingsValues(){
        //loading default values
        let settings_values = await ipcRenderer.invoke('getStoreValue');
        for (let key in settings_values) {
            let value = settings_values[key];
            let related_input_id = "#" + key;
            if(key === 'detailed_active_alarm') {
                if(value == "active") {
                    jQuery(related_input_id).prop( "checked", true );
                }
                else {
                    jQuery(related_input_id).prop( "checked", false );
                }
            } else {
                if(value != "not_set") {
                    jQuery(related_input_id).val(value)
                }
            }
        }
    }
    async function setButtonAccess(connected){
        if(connected==1){
            let currentUser=await getCurrentUser();
            if(currentUser['role']>0){
                if(currentUser['role']==1){
                    $('#button_save').css("visibility", "visible");
                }
                else{
                    $('#button_save').css("visibility", "hidden");
                }
                $('#button_login').hide();
                $('#button_logout').show();
                $('#button_changePassword').show();
                $('#mode_buttons_container').show();

            }
            else {
                $('#button_save').css("visibility", "hidden");
                $('#button_login').show();
                $('#button_logout').hide();
                $('#button_changePassword').hide();
                $('#mode_buttons_container').hide();
            }
        }
        else{
            $('#button_save').css("visibility", "visible");
            $('#button_login').hide();
            $('#button_logout').hide();
            $('#button_changePassword').hide();
            $('#mode_buttons_container').hide();
        }
    }
    jQuery(document).ready(async function() {
        machineChangeAction();//nav.js
        await setSettingsValues();
        jQuery("#button_login").click( function() {
            ipcRenderer.send("change:link", "login");
        });
        jQuery("#button_logout").click( function() {
            ipcRenderer.send("sendRequest", selected_machine,'logoutUser', {});
        });
        jQuery("#button_changePassword").click( function() {
            ipcRenderer.send("change:link", "change-password");
        });
        jQuery("#button_manual_mode_active").click( function() {
            $('#button_manual_mode_active').hide();
            ipcRenderer.send("sendRequest", selected_machine,'changeMode', {'mode':1});
        });
        jQuery("#button_manual_mode_deactive").click( function() {
            $('#button_manual_mode_deactive').hide();
            ipcRenderer.send("sendRequest", selected_machine,'changeMode', {'mode':0});
        });
        jQuery("#button_save").click( function() {
            let formData = {};
            jQuery.map($("#settings-form").serializeArray(), function(n, i){
                formData[n['name']] = n['value'];
            });
            ipcRenderer.send("saveSettings", formData);
        });
        setInterval(() => {
            ipcRenderer.send("get:views", selected_machine, "settings");
        }, 1000);

    });
    ipcRenderer.on("render:settings", async function(e, data) {
        await setButtonAccess(data['connected']);
    });

    ipcRenderer.on("render:device_status", function(e, data) {
        let currentMachineMode=data['mode']
        if(currentMachineMode==0){
            $('#button_manual_mode_active').show();
            $('#button_manual_mode_deactive').hide();
        }
        else if(currentMachineMode==1){
            $('#button_manual_mode_active').hide();
            $('#button_manual_mode_deactive').show();
        }
        else{
            $('#button_manual_mode_active').hide();
            $('#button_manual_mode_deactive').hide();
        }
    });
</script>
</body>
</html>