<%- include('header', {currentMenu: 'statistics-bins-detail-single', pageTitle: 'Bins Detail'}); %>
<div class="row m-0 mt-2" style="height: 400px">
    <div class="col-lg-12" id="single-bin">Single bin chart</div>
</div>


<%- include('footer', {currentMenu: 'statistics-bins-detail-single'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/datepicker/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/nav.js"></script>
<script>
    const Highcharts = require('highcharts/highstock')
    require('highcharts/modules/exporting')(Highcharts);
    require('highcharts/modules/export-data')(Highcharts);
    let chart_categories = [], chart_data = [], bin_label = '';

    ipcRenderer.on('render:statistics-bins-detail-single', function (e, data) {

        jQuery("#display_machine_name").text(data['machine_name']);
        chart_categories = data['chart_categories'];
        chart_data = data['scs_data'];
        bin_label = data['bin_label'];
        new Highcharts.chart("single-bin", {
            chart: {
                type: "column",
            },
            title: {
                text: `Bin detail - ${bin_label}`,
            },
            xAxis: {
                type: "datetime",
                categories: chart_categories,
            },
            yAxis: {
                min: 0,
                title: {
                    text: "",
                },
            },
            tooltip: {
                // valueSuffix: title == 'Bins Detailed-Total' ? '' : '%'
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            legend: {
                reversed: true,
            },
            plotOptions: {
                series: {
                    stacking: "normal",
                    dataLabels: {
                        enabled: true,
                    },
                },
            },
            exporting: {
                enabled: true,
                buttons: {
                    contextButton: {
                        menuItems: ['downloadCSV', 'separator', 'downloadPDF', 'downloadPNG']
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: chart_data.map((d) => ({
                name: d.label,
                data: d.data,
                color: d.color,
            })),
        });
    })
</script>
