<div id="container_production" style="height:131px;">
    <div class="row">
        <div class="col-5">
            <table class="table table-sm table-bordered">
                <tbody>
                <tr class="bg-light-blue">
                    <td>Total inducted</td>
                    <td data-oee-name="cal_availability" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>Total good diverts</td>
                    <td data-oee-name="cal_quality" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>Total machine error packages</td>
                    <td data-oee-name="cal_performance" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>Total non-machine error packages</td>
                    <td data-oee-name="cal_oee" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <table class="table table-sm table-bordered">
                <tbody>
                <tr class="bg-light-blue">
                    <td>Good scan</td>
                    <td data-oee-name="cal_availability" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>No read</td>
                    <td data-oee-name="cal_quality" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>No code</td>
                    <td data-oee-name="cal_performance" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>Multiple read</td>
                    <td data-oee-name="cal_oee" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-sm table-bordered">
                <tbody>
                <tr class="bg-light-blue">
                    <td>Availability</td>
                    <td data-oee-name="cal_availability" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>Quality</td>
                    <td data-oee-name="cal_quality" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>Performance</td>
                    <td data-oee-name="cal_performance" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                <tr class="bg-light-blue">
                    <td>OEE</td>
                    <td data-oee-name="cal_oee" class="oee-value" style="text-align: right"></td>
                    <td style="text-align: right"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>