<div>
    <button class="button-device-command button-3d button-round button-round-start d-block mb-4">Start</button>
    <button class="button-device-command button-3d button-round button-round-stop d-block mb-4">Stop</button>
    <button class="button-device-command button-3d button-round button-round-reset d-block mb-4">Reset</button>
</div>