<div>
    <button class="button-device-command button-3d button-round button-round-start d-block mb-4" data-device-id="80" data-command="0" data-parameter1="0">Start</button>
    <button class="button-device-command button-3d button-round button-round-stop d-block mb-4" data-device-id="81" data-command="0" data-parameter1="0">Stop</button>
    <button class="button-device-command button-3d button-round button-round-reset d-block mb-4" data-device-id="82" data-command="0" data-parameter1="0">Reset</button>
</div>