<div class="col-12">
    <%- include('general_motors.svg') %>
    <%- include('general_view_common_gui.ejs') %>
    <div id="motor-details" class="position-absolute" style="width: 350px;height:270px;top:162px;right:500px; border: 1px solid black;display: none;z-index: 2;background-color: white;">
        <%- include('../general_motor_details.ejs') %>
    </div>
</div>