<div id="container_general_colors_hint" style="position:absolute;top:50px;right:400px;width: 300px;z-index: 100;background-color: #FFFFFF;">
    <%- include('../../components/general_colors.svg') %>
</div>
<div class="position-absolute" style="left: 50px;top:90px;z-index: 1">
    <button class="button-device-command button-3d button-round button-round-start d-block mb-4" data-device-id="80" data-command="0" data-parameter1="0">Start</button>
    <button class="button-device-command button-3d button-round button-round-stop d-block mb-4" data-device-id="81" data-command="0" data-parameter1="0">Stop</button>
    <button class="button-device-command button-3d button-round button-round-reset d-block mb-4" data-device-id="82" data-command="0" data-parameter1="0">Reset</button>
</div>
<div class="position-absolute" style="right: 25px;top:0;z-index: 1">
    <button class="door door-open button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="91" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-door-open"></i></button>
    <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="91" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
    <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: #27e22b;" data-device-id="91" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
</div>
<div class="position-absolute" style="right: 25px;top:220px;z-index: 1">
    <button class="door door-open button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="92" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-door-open"></i></button>
    <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="92" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
    <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: #27e22b;" data-device-id="92" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
</div>
<div class="position-absolute" style="right: 100px;top:530px;z-index: 1">
    <button class="door door-open button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="93" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-door-open"></i></button>
    <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="93" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
    <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: #27e22b;" data-device-id="93" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
</div>
<div class="position-absolute" style="left: 750px;top:560px;z-index: 1;">
    <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;background-color: darkgray;" data-device-id="83" data-command-start="0" data-command-end="1" data-parameter1="0">Test Red Light</button>
</div>
<div class="position-absolute" style="left: 900px;top:560px;z-index: 1;">
    <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;background-color: darkgray;" data-device-id="84" data-command-start="0" data-command-end="1" data-parameter1="0">Test Amber Light</button>
</div>
<div class="position-absolute" style="left: 1050px;top:560px;z-index: 1;">
    <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;background-color: darkgray;" data-device-id="85" data-command-start="0" data-command-end="1" data-parameter1="0">Test Blue Light</button>
</div>